@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<div id="main">
    <div id="wrapper">
        <div class="inner">
            <h1>All Roles </h1>

            @if (Model.Any())
            {
                <a class="btn btn-primary" asp-controller="Admin" asp-action="CreateRole"> Create Role</a>
                <a asp-action="ListUsers" asp-controller="Admin" class="btn btn-primary">Manage Users</a>


                foreach (var role in Model)
                {

                    <div class="table-wrapper">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Role ID: </th>
                                    <th>@role.Id</th>
                                </tr>

                                <tr>
                                    <td>Role Name: </td>
                                    <td> @role.Name</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer">
                        <ul class="actions">
                            <li> <a asp-action="AddOrRemoveUsers" asp-controller="Admin" asp-route-roleId="@role.Id" class="btn button">Add or Remove Users</a></li>
                            <li><a href="#" class="button special fit">Delete</a></li>
                        </ul>

                    </div>
                }
            }
            else
            {
                <div class="card">
                    <div class="card-header">
                        No roles created
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Use the button below to create a role </h5>
                        <a class="btn btn-primary" asp-controller="Admin" asp-action="CreateRole"> Create Role</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>