@model IEnumerable<COHApp.Data.Models.Category>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Categories</title>
</head>
<body>
    <div id="main">
        <div id="container">
            <div class="inner">
                <h1>Manage Categories</h1>

                @if (Model.Any())
                {
                    <a asp-action="AddCategory" asp-controller="Admin" class="btn btn-primary">Add a new category</a>


                    foreach (var item in Model)
                    {
                        <!-- Break -->

                        <div class="table-wrapper">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Category Id: </th>
                                        <th> @item.CategoryId</th>
                                    </tr>

                                    <tr>
                                        <td>Category: </td>
                                        <td>@item.CategoryName</td>
                                    </tr>

                                    <tr>
                                        <td>Description </td>
                                        <td> @item.Description</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a asp-action="EditCategory" asp-controller="Admin" asp-route-id="@item.CategoryId" class="button">Manage Category</a>
                    }

                }
                else
                {
                    <div class="card">
                        <div class="header">
                            No Categories Created Yet!!
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Use the button below to create a new category
                            </h5>
                            <a class="btn btn-primary" asp-controller="Admin" asp-action="AddCategory">Add a New Category</a>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
