@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="module" src="~/dist/site.entry.js" defer></script>
    <link rel="stylesheet" href="~/dist/site.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="ListUsers" asp-controller="Admin">User Management</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-action="ListPurchases" asp-controller="Purchase">Purchases</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-action="ListCurrencies" asp-controller="Admin">Currency Management</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-action="List" asp-controller="unitItem">Inventory Management</a>
                        </li>

                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Contact" action="Index">Contact</a>
                    </li>
                </ul>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Welcome @UserManager.GetUserName(User)</a>
                @await Component.InvokeAsync("CheckoutSummary")
                @await Html.PartialAsync("LoginPartial")
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>