@model LoginViewModel
@section Scripts
{
<script type="module" src="~/dist/validation.entry.js" defer></script>
}
<body class="text-center">
    <form asp-controller="Account" asp-action="Login" method="post" class="form-signin">
        <img class="mb-4" src="~/Content/Images/bbbq-free-img.png" alt="" width="72" height="72">
        <input type="hidden" asp-for="ReturnUrl" />

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label asp-for="Number" class="sr-only">Email address</label>
        <input asp-for="Number" class="form-control" placeholder="Phone Number" required autofocus>
        <span asp-validation-for="Number" class="text-danger"></span>


        <label asp-for="Password" class="sr-only">Password</label>
        <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <span asp-validation-for="Password" class="text-danger"></span>


        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p>Don't have an account ?<a asp-action="Register" asp-controller="Account">Register here</a></p>

        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
        <div asp-validation-summary="All" class="text-danger"></div>

    </form>
</body>

<style>
    html,
    body {
        height: 100%;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
</style>
