
@model RegisterViewModel

    <div class="container">
        <div class="row loginForm">
            <div class="col-md-8 col-md-offset-2">
                <h2>Register now </h2>
                <h4>Create a new account and place your order</h4>
                <hr />

                <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">

                    <div class="form-group">
                        <label asp-for="FirstName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="IdNumber" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="IdNumber" class="form-control" />
                            <span asp-validation-for="IdNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Number" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Number" class="form-control" />
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group pull-right formPullRightButton">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-success " value="Register" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

