@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model COHApp.ViewModels.RentalAssetListViewModel

<div id="main">
    <div id="wrapper">
        <div class="inner">

            <h1> @Html.DisplayFor(Model => Model.CurrentCategory)</h1>

            <a class="button" asp-controller="RentalAsset" asp-action="List">Available Stalls</a>

            @if (Model.RentalAssets.Any())
            {
                <div class="row">
                    @foreach (var item in Model.RentalAssets)
                    {

                        @await Html.PartialAsync("RentalAssetSummary", item);
                    }

                </div>

            }
            else
            {
                <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                    <div id="main" role="main" class="inner cover">
                        <p class="lead">It seems there have been no booking made here yet</p>
                        <p class="lead">
                            <a asp-action="index" asp-controller="Home" class="btn btn-lg btn-secondary">Home</a>
                        </p>
                    </div>

                    <footer class="mastfoot mt-auto">
                        <div class="inner">
                        </div>
                    </footer>
                </div>

            }
        </div>
    </div>
</div>

