@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model COHApp.ViewModels.RentalAssetListViewModel

<div id="main">
    <div id="wrapper">
        <div class="inner">

            <h1> @Html.DisplayFor(Model => Model.CurrentCategory)</h1>



            <div class="elementor-widget-container">
                <div class="elementor-button-wrapper">
                    @await Component.InvokeAsync("CategoryMenu")
                </div>
            </div>
            
            @if (User.IsInRole("Employee"))
            {
                <a asp-action="Create" asp-controller="RentalAsset" class="button" role="button">Add</a>
            }



            @if (Model.RentalAssets.Any())
            {
                <div class="row">
                    @foreach (var item in Model.RentalAssets)
                    {
                        @await Html.PartialAsync("RentalAssetSummary", item);

                    }
                </div>

            }
            else
            {
                <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                    <main role="main" class="inner cover">
                        <h1 class="cover-heading">Empty Category</h1>
                        <p class="lead">It seems that this category is currently, Why not add try our other categories</p>
                        <p class="lead">
                            <a asp-action="index" asp-controller="Home" class="btn btn-lg btn-secondary">Home</a>
                        </p>
                    </main>

                    <footer class="mastfoot mt-auto">
                        <div class="inner">
                        </div>
                    </footer>
                </div>

            }
        </div>
    </div>
</div>

