@model CheckoutViewModel;


@if (Model.Checkout.CheckoutItems.Count > 0)
{
    <a class="nav-link" asp-controller="Checkout">
        <span id="cart-status">
            @Model.Checkout.CheckoutItems.Count
        </span>
    <i class="fas fa-shopping-cart" aria-hidden="true"></i>
    </a>
}
