@model CheckoutViewModel;


@if (Model.Checkout.CheckoutItems.Count > 0)
{

    <ul nav navbar-nav navbar-right>
        <li nav-item>
            <a class="nav-link" asp-controller="Checkout">
                <span id="cart-status">
                    @Model.Checkout.CheckoutItems.Count
                </span>
            </a>
            <span class="glyphicon glyphicon-shopping-cart"></span>

        </li>

    </ul>

}
