@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager


<button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Categories</button>

<div class="dropdown-menu">

    @foreach (var category in Model)
    {
        <a asp-controller="RentalAsset" asp-action="List" asp-route-category="@category.CategoryName"> @category.CategoryName</a>
    }

    <a asp-controller="RentalAsset" asp-action="List" asp-route-category="">Show all items</a>

    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a asp-controller="Admin" asp-action="AddCategory" asp-route-category="">Show all items</a>
    }

</div>
