@model EditUnitItemViewModel

@{
    ViewBag.Title = "Edit an item";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create New Item</title>
</head>
<body>

    <div class="container">
        <form enctype="multipart/form-data" asp-controller="unitItem" asp-action="edit" method="post" class="mt-3">

            <input type="hidden" asp-for="unitItemId" />
            <input type="hidden" asp-for="ExistingImagePath" />

            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" placeholder="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Price" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Price" class="form-control" placeholder="Price" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group row">
                <label asp-for="Category" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="Category" class="custom-select mr-sm-2" placeholder="Category" asp-items="@((List<SelectListItem>)ViewData["categories"])">
                        <option value="">Select One</option>
                    </select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Image" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Image" class="form-control custom-file-input" />
                        <label class="custom-file-label">Click here to change image</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="InStock" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-1">
                    <input asp-for="InStock" class="form-control" placeholder="InStock" />
                    <span asp-validation-for="InStock" class="text-danger"></span>
                </div>
            </div>

            <div id="fb-editor"></div>
            <div class="render-wrap"></div>
            <button class="btn btn-outline-primary" id="edit-form">Edit Form</button>


            <div class="form-group row col-sm-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@Model.ExistingImagePath" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" alt="" preserveAspectRatio="xMidYMid slice" focusable="false" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a asp-controller="unitItem" asp-action="list" class="btn btn-primary">Cancel</a>
                </div>
            </div>

            <input asp-for="OptionFormData" class="form-control" placeholder="InStock" type="hidden" id="optionFormData" value="" />


            <div asp-validation-summary="All" class="text-danger"></div>


        </form>
    </div>
</body>
</html>
<style>
    .render-wrap {
        display: none;
    }

    #edit-form {
        display: none;
        float: right;
    }

    .form-rendered #edit-form {
        display: block;
    }

    .form-rendered #fb-editor {
        display: none;
    }

    .form-rendered .render-wrap {
        display: block;
    }
</style>

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery/jquery-ui.min.js"></script>
<script src="~/lib/formbuilder/form-builder.min.js"></script>
<script src="~/lib/formbuilder/form-render.min.js"></script>

@section Scripts{
    <script>

        jQuery(function ($) {
            var fbTemplate = document.getElementById('fb-editor'),
                options = {
                    dataType: 'json',
                    formData: '@Html.Raw(Model.OptionFormData)',
                    disabledActionButtons: ['data'],
                    disableFields: ['autocomplete', 'button', 'date', 'file', 'header', 'hidden', 'number', 'paragraph', 'starRating', 'text', 'textarea'],
                    onSave: function (evt, formData) {
                        console.log("formbuilder saved");
                        window.sessionStorage.setItem('formData', formData);
                        document.getElementById('optionFormData').value = sessionStorage.getItem("formData");
                        toggleEdit(false);
                        $(".render-wrap").formRender({ formData });
                    },
                };
            $(fbTemplate).formBuilder(options);
        });

        function toggleEdit(editing) {
            document.body.classList.toggle("form-rendered", !editing);
        };

        document.getElementById("edit-form").onclick = function () {
            toggleEdit(true);
        };

        jQuery(function ($) {
            $(document.getElementById('fb-editor')).formBuilder(options);
        });
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        })
    </script>

}
