@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model BataCMS.Data.ViewModels.UnitItemListViewModel;

@{
    ViewData["Title"] = "List";
}

<h1> @Html.DisplayFor(Model => Model.CurrentCategory)</h1>


@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <a asp-action="AddItem" asp-controller="unitItem" asp-route-id="" class="btn btn-primary">Add </a>
}

@foreach (var item in Model.UnitItems)
{
    if (item.InStock == true)
    {
        @await Html.PartialAsync("UnitItemSummary", item);
    }
    else if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        @await Html.PartialAsync("UnitItemSummary", item);

    }

}


