@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
@model Purchase

<div class="orderForm container">
    <h3 class="text-center">Just one more step</h3>
    <form asp-action="Checkout" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-md-3">
                <input asp-for="ServerName" class="form-control" type="text" value="@UserManager.GetUserName(User)" placeholder="@UserManager.GetUserName(User)" hidden>
                <span asp-validation-for="ServerName" class="text-danger"></span>
            </div>
        </div>


        @await Component.InvokeAsync("CheckoutSummary", new { viewName = "CheckoutDetails" })

        <div class="row">
            @await Component.InvokeAsync("PaymentMethod")
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label class="col-sm-10 col-form-label">Enter Table Number</label>
                <input asp-for="DeliveryLocation" class="form-control">
                <span asp-validation-for="DeliveryLocation" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label asp-for="PurchaseNotes" class="col-sm-2 col-form-label"></label>
                <textarea asp-for="PurchaseNotes" class="form-control" ></textarea>
                <span asp-validation-for="PurchaseNotes" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-8">
                <input class="btn btn-success" type="submit" value="Complete order" />
                <input class="btn btn-primary-outline" value="Return " />
            </div>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
    </form>

</div>
